@import '@/presentation/styles/global.module.scss';

.landing {
  display: flex;
  flex-direction: column;

  & > section {
    padding: 2rem 1rem;
  }

  @media screen and (min-width: 768px) {
    & > section {
      padding: 2rem 3rem;
    }
  }

  @media screen and (min-width: 1024px) {
    & > section {
      padding: 2rem 8.5rem;
    }
  }
}
