@import './colors.module.scss';
@import './reset.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;

  color: $very-dark-violet;
  font-size: 1rem;
  font-weight: 500;
}

html {
  font-size: 18px;
}

button:hover,
a:hover {
  @include make-brighter;
}

:disabled {
  @include make-gray;

  &:hover {
    cursor: default;
    opacity: 1;
  }
}
