@import '@/presentation/styles/global.module.scss';

.smallPresentation {
  text-align: center;
  background: $dark-violet url('@/presentation/images/bg-boost-mobile.svg') no-repeat top right;
  padding: 5rem 0 !important;

  h2 {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
}
